#cad{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 27px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    text-align: justify;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

